body {
    background-image: url('../../assets/brickwall-img.webp');
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    max-height: 70px;
}