body {
    background-image: url('../../assets/brickwall-img.webp');
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    max-height: 70px;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: #3c354e;
}
input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
  }
  
  input[type="date"] {
    color: #ffffff;
  }
  
  input[type="date"]:focus,
  input[type="date"]:valid {
    color: #cfcfcf;
  }
  
  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    content: "";
  }